{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 h-50">
                    <form>
                        table <br>
                        <input type="text" name="table" value="sns.iris"> <br>
                        limit number <br>
                        <input type="text" name="limit" value="20"> <br>
                        <input type="button" id="button1", value="Submit"></input>
                    </form>
            <!--
                <script>
                    $('#button1').on('click', function(){
                      $.ajax({
                        url: "{{url_for('read_spark_table_tmp')}}",
                        type: 'post',
                        data: $('form').serialize(),
                        success: function(response) {
                          //console.log(response);
                          $("#table").empty().append(response)
                        },
                        error: function(error) {
                          console.log(error);
                        },
                        });
                    });
                </script>
                -->
        </div>
        <div class="col-12 h-50 scroll">
            <div class="row h-100">
                <div id="table" class="col-10 h-100"></div>
            </div>
            <script>
                    $('#button1').on('click', function(){
                      $.ajax({
                        url: "{{url_for('read_spark_table_tmp')}}",
                        type: 'post',
                        data: $('form').serialize(),
                        success: function(response) {
                          //console.log(response);
                          $("#table").empty().append(response)
                        },
                        error: function(error) {
                          console.log(error);
                        },
                        });
                    });
            </script>
        </div>


    </div>
</div>

{% endblock %}
